<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DataProvider" value="Sql" />
    <add key="DbConnection" value="Data Source=192.168.0.27,5000;Initial Catalog=SCRealtors;Persist Security Info=True;User ID=P724;pwd=key2p724;Max Pool Size=1000;Min Pool Size=5;Timeout=1055350000;"/>
  
   <add key="DirPath" value="D:\SCR\Files\" />
    <add key="RarFilePath" value="D:\SCR\Files\LLRCSV.rar" />
    <add key="ZipFilePath" value="D:\SCR\Files\LLRCSV.zip" />
  
  <!-- <add key="MailUrl" value="https://iso.portal724.net"/>
    <add key="FromAddress" value="info@portal724.com"/>
    <add key="FromPassword" value="tkmportal724"/>
    <add key="FromSubject" value="User Credential"/>
    <add key="MailServer" value="mail.tkminfotech.com"/>
    <add key="SMTPPort" value="25"/>-->
    
    <!--<add key="MailUrl" value="https://iso.portal724.net"/>-->
    <add key="MailUrl" value="http://localhost:49661/" />
    <add key="FromAddress" value="info@portal724.com"/>
    <add key="FromPassword" value="tkmportal724"/>
    <add key="FromSubject" value="User Credential"/>
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="465"/>
  </appSettings>
 
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
      <sessionState timeout="30"></sessionState>
    <httpRuntime maxRequestLength="999999999" executionTimeout="100000000" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>